.background-image{
    width: 100%;
    height: 100vh;
    background-image: url("C:\Users\Public\Pictures\nature-beauty-majestic-mountain-landscape-generated-by-ai.jpg");
    background-size: cover;
    background-position: center;
}